.content {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card {
	width: 420px;

	.card-action-area {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
